/* You can add global styles to this file, and also import other style files */
:root{
    --color-primario: #c53b3b;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primario);
}